<div class="container">
  <ng-container *ngIf="!showLoader">
    <h2>
      {{
        isSubmitted ? "Thank you for playing!" : "What is your favorite color?"
      }}
    </h2>

    <div class="controls" *ngIf="!isSubmitted && colorCombination">
      <button (click)="buttonClick(colorCombination, colorCombination.Color1)">
        {{ colorCombination.Color1 }}
      </button>
      
      <button (click)="buttonClick(colorCombination, colorCombination.Color2)">
        {{ colorCombination.Color2 }}
      </button>
    </div>
  </ng-container>

  <div class="loader" *ngIf="showLoader"></div>
</div>
